nav.container-fluid
    ul
        li 
            a(href="/") Trade
    if user
        ul
            li
                a(href="/myaccount") Profile
            li 
                a(href="/logout") 로그아웃
    else
        ul
            li
                a(href="/login") 로그인  