html(lang="en")
    head
        title Trade
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h3 Let's Trade Photo 
        main
            a(href="/users/new") login    
        script(src="/public/js/app.js") 