html
    include header.pug
    head
        title Trade
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        style 
    body
        header
            h1 Let's Trade Photo 
        main
            div 반가워요
            if user
                a(href="/room") 이거랑 거래할 거 있나요?
            
        script(src="/public/js/app.js") 
        footer 
            span &copy 짤랑이거래


            