html
    include header.pug
    head
        title Trade
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        style 
    body
        header
            h1 Let's Trade Photo 
        main
        script(src="/public/js/app.js") 