<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../public/dd/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../public/bootstrap_main/js/bootstrap.js"></script>
    <!--script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script-->


    <script type="text/javaScript">
        function goLoginPage(){
            location.href = "/login";
        }
        function logOut(){
            location.href = "/logout";
        }
        function goProfilePage(){
            location.href = "/myaccount";
        }
        function goDealPage() {
            location.href = "/room";
        }     
      });
    </script>

    <title>짤랑이거래</title>

</head>

<body>
    <header>
        <%-include('navbar')%>
    </header>
    <main class="c-main-container">
        <h1>Let's trade photo</h1>
        <% if (user) { %>
            <p><button type="submit" onclick="goDealPage()" class="btn btn-primary">이거랑 거래할 거 있나요?</button></p>
            <a href="/room"> 이거랑 거래할 거 있나요?</a>
            <%} else {%>
                <p>You haven't logged in yet. Please log in.</p>
                <%} %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/bootstrap_main/js/bootstrap.js"></script>

    <footer>
        <p>&copy 짤랑이거래</p>
    </footer>
</body>

</html>