html(lang="en")
    head
        title Trade
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")       
    body 
        h3 로그인
        form(action="/login/password" method="POST")
            input(type="text", name ="username", placeholder="id")
            input(type="password", name ="password", placeholder="password")
            button(type="submit") 로그인
        div
            p or
            a(href='/users/new') Create Account
            