html
    head
        <meta charset="utf-8">
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            profile
        main
            div#profile 
            h3 profile
            .txt
            p id: #{user.id}
            p ninkname : #{user.nickname}
        <script src="/public/js/profile.js"></script>