<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"-->
    <link href="../public/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <!--link href="../public/bootstrap_main/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"-->

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <script type="text/javaScript">
        function goLoginPage(){
            location.href = "/login";
        }
        function logOut(){
            location.href = "/logout";
        }
        function goProfilePage(){
            location.href = "/myaccount";
        }
        $(document).ready(function(){
         $("#navbar").load("navbar.html")
        /* id 지정을 통해서도 가능합니다. 
         $("#header").load("header.html #navbar")
         */       
      });
    </script>

    <title>짤랑이거래</title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ZalLangE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <% if (user) { %>
                        <button type="submit" onclick="goProfilePage()" class="btn btn-primary">Profile</button>
                        <button type="submit" onclick="logOut()" class="btn btn-primary">Log out</button>

                        <%} else {%>
                            <button type="submit" onclick="goLoginPage()" class="btn btn-primary">Log in</button>
                            <%} %>
                </div>
            </div>
        </nav>
    </header>
    <main class="c-main-container">
        <h1>Let's trade photo</h1>
        <p>id: #{user.id} </p>
        <p>nickname : #{user.nickname}</p>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/bootstrap_main/js/bootstrap.js"></script>

    <footer>
        <p>&copy 짤랑이거래</p>
    </footer>
</body>

</html>